* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
} 

body { 
	height: 70vw; 
	width: 40vw; 
	overflow-y: hidden;
} 

.background { 
	height: 100vh; 
	width: 100vw; 
	background-color: skyblue; 
	background-image: "backdrop.png"
} 

.bird { 
	height: 70px; 
	width:  60px; 
	position: fixed; 
	top: 50vh; 
	left: 30vw; 
	z-index: 100; 
} 

.pipe_sprite { 
	position: fixed; 
	top: 40vh; 
	left: 100vw; 
	height: 70vh; 
	width: 6vw; 
	background-color: gray; 
} 

.message { 
	position: fixed; 
	z-index: 10; 
	height: 10vh; 
	font-size: 10vh; 
	font-weight: 100; 
	color: black; 
	top: 12vh; 
	left: 20vw; 
	text-align: center; 
} 

.score { 
	position: fixed; 
	z-index: 10; 
	height: 10vh; 
	font-size: 10vh; 
	font-weight: 100; 
	color: goldenrod; 
	top: 0; 
	left: 0; 
} 

.score_val { 
	color: gold; 
} 
